<div class="container">
    <div class="row text-center">
        <div class="col-6 offset-3">
            <img src="/assets/images/burger.png" alt="cartoon burger image" class="my-4 img-fluid">
        </div>
    </div>
    <div class="row my-2 py-2">
        <div class="col-sm-12 col-md-10 offset-md-1">
            <h1 class="text-center welcome">Welcome to Burger Muncher!</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6 col-lg-5 offset-lg-1">
            <h3 class="ml-2 pl-3 colTitle">Burgers to Eat</h3>
            <ul class="list-group">
                {{#each burgers}}
                <li data-id="{{id}}" class="list-group-item my-0 py-2 d-flex justify-content-between">
                    <p class="p-0 m-0 flex-grow-1">{{burger_name}}</p>
                    <button class="btn btn-primary btn-sm eat">Eat Me</button>
                </li>
                {{else}}
                <li>No burgers have been created. Add one below!</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-6 col-lg-5 offset-lg-1">
            <h3 class="ml-4 pl-4 colTitle">Burgers Eaten</h3>
            <ul class="list-group ml-4">
                {{#each burgers}}
                {{#if isEaten includeZero=false}}
                <li data-id="{{id}}" class="list-group-item my-0 py-2">
                    <p class="p-0 m-0">{{burger_name}}</p>
                </li>{{/if}}
                {{else}}
                <li>Nothing has been eaten yet.</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row my-2 py-2">
        <div class="col-sm-12 col-md-10 offset-md-1">
            <p class="text-center py-2 info">Once you type in the kind of burger you want, click "Submit".</p>

            <form action="/" method="post" id="submitBurger">
                <div class="form-group">
                    <textarea name="burger_name" id="burgerName" rows="5" class="form-control" placeholder="What kind of burger do you want to eat?" autofocus></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-success mb-4">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/assets/js/index.js"></script>